/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
$accentColor = #779760
$textColor = #241c1e
$borderColor = #f9f4e1
$codeBgColor = #1f232f
$arrowBgColor = #1f232f
$badgeTipColor = darken($accentColor, 20%)
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

